main {
    position: relative;
    padding: 0 100px 180px 100px;
    background-color: #141D2F;
    display: flex;
    justify-content: space-between;

    section {
        position: relative;
        z-index: 2;
    }
}

h1 {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

h2 {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

span {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

input[type="text"],
input[type="email"] {
    display: flex;
    width: 567px;
    height: 20px;
    padding: 15px 50px 15px 25px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #141D2F;
    cursor: url('/assets/img/background/icons8-mauszeiger-pointer.png'), auto;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    &:disabled {
        background-color: #304979;
    }

    &::placeholder {
        color: #FFFFFF;
    }

    &:focus {
        outline: none;
        border: 1px solid #FA7902;
    }
}

textarea {
    display: flex;
    width: 567px;
    height: 172px;
    padding: 15px 50px 15px 25px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #141D2F;
    cursor: url('/assets/img/background/icons8-mauszeiger-pointer.png'), auto;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    resize: none;
    overflow: auto;

    &:disabled {
        background-color: #304979;
    }

    &::placeholder {
        color: #FFFFFF;
    }

    &:focus {
        outline: none;
        border: 1px solid #FA7902;
    }
}

.border {
    border: 1px solid #FF4747;

    &:hover {
        border: 1px solid #FA7902;
    }
}

.input-area {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;

    img {
        height: 25px;
        width: 25px;
    }

    p {
        color: #E61C40;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    div {
        position: relative;
    }
}

.error-img {
    position: absolute;
    top: 13px;
    right: 25px;
}

.error-text {
    position: absolute;
    top: 58px;
}

.message-error-text {
    position: absolute;
    top: 211px;
}

.confirm-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
    margin-top: 16px;

    div {
        width: 100%;
        padding: 16px 0 12px 0;
        display: flex;
        gap: 8px;
        position: relative;

        p {
            color: #E61C40;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            position: absolute;
            top: 40px;
        }

        input[type="checkbox"] {
            appearance: none;
            background-color: #141D2F;
            margin: 0;
            width: 20px;
            height: 20px;
            border-radius: 4px;
            display: grid;
            place-content: center;
            cursor: url('/assets/img/background/icons8-mauszeiger-pointer.png'), auto;

            &:disabled {
                background-color: #304979;
            }

            &::before {
                content: "";
                width: 12px;
                height: 12px;
                transform: scale(0);
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1em 1em #70E61C;
                transform-origin: center;
                clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
            }

            &:checked::before {
                transform: scale(1);
            }

            &:checked {
                border: 1px solid #70E61C;
            }
        }

        span {
            display: flex;

            a {
                color: #FF4747;
                text-decoration: none;
                cursor: url('/assets/img/background/icons8-mauszeiger-pointer.png'), auto;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

button {
    width: fit-content;
    height: fit-content;
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 10px;
    background: #FA7902;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: url('/assets/img/background/icons8-mauszeiger-pointer.png'), auto;
    transition: transform 300ms ease-out;

    span {
        color: #FFFFFF;
        font-family: Poppins;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        transition: transform 300ms ease-out;
        cursor: url('/assets/img/background/icons8-mauszeiger-pointer.png'), auto;
    }

    &:hover:enabled {
        transform: scale(1.2);

        span {
            transform: scale(0.833);
        }
    }

    &:disabled {
        background: #B6B6B6;
    }
}

.main-section {
    width: 473px;

    h1 {
        margin-bottom: 85px;
    }

    h2 {
        margin-bottom: 35px;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}

.form-section {
    padding-top: 193px;
    position: relative;
}

.line {
    width: 50px;
    height: 0px;
    flex-shrink: 0;
    border: 2px solid #FF4747;
    position: absolute;
    left: 0;
    top: 54px;
}

.arrow-up {
    display: flex;
    width: 39px;
    height: 39px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 41px;
    border: 2px solid #FFFFFF;
    position: absolute;
    right: 100px;
    bottom: 90px;
    cursor: url('/assets/img/background/icons8-mauszeiger-pointer.png'), auto;

    &:hover {
        border: 2px solid #FA7902;

        svg {
            g {
                path {
                    fill: #FA7902;
                }
            }
        }
    }
}

.dialog {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        background-color: #141D2F;
        border-radius: 44px;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #E61C40;

        div {
            text-align: center;
            border-radius: 40px;
            padding: 50px 80px;
            border: 1px solid #FA7902;
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 48px;
            }
    
            h2 {
                margin-top: 16px;
            }
        }
    }
}

.shadow {
    position: absolute;
    bottom: -280px;
    left: 0;
}