<main>
    <a href="#aboveDefault"><img
            src="assets/img/header/logo_200x200_clean.png"></a>
    <div>
        <div>
            <a href="#aboutMe" (mouseenter)="mouseOverMe = true" (mouseleave)="mouseOverMe = false">About Me</a>
            <div class="underline" *ngIf="mouseOverMe"></div>
        </div>
        <div>
            <a href="#skills" (mouseenter)="mouseOverSkills = true" (mouseleave)="mouseOverSkills = false">Skills</a>
            <div class="underline" *ngIf="mouseOverSkills"></div>
        </div>
        <div>
            <a href="#portfolio" (mouseenter)="mouseOverPortfolio = true" (mouseleave)="mouseOverPortfolio = false">Portfolio</a>
            <div class="underline" *ngIf="mouseOverPortfolio"></div>
        </div>
    </div>
</main>
