main {
  display: flex;
  padding: 37px 100px;
  justify-content: space-between;
  align-items: center;
  background-color: #141D2F;
}

.logo {
  animation: rotate360 10s linear infinite;

  img {
    height: 30px;
    cursor: url('/assets/img/background/icons8-mauszeiger-pointer.png'), auto;
  }
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 46px;

  div {
    position: relative;



    a {
      color: #FFFFFF;
      font-family: Poppins;
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      text-decoration: none;
      cursor: url('/assets/img/background/icons8-mauszeiger-pointer.png'), auto;

      &:hover {
        color: #FA7902;
      }

      &.selected {
        color: #FA7902;
      }
    }
  }
}

.underline {
  width: 55.5px;
  height: 0;
  position: absolute !important;
  top: 30px;
  left: 0;
  border: 1.5px solid #FF4747;
  z-index: 1000;
  display: none;

  &.selected-line {
    display: block;
  }

  &.hover {
    display: block;
  }
}

@keyframes rotate360 {
  0% {
    transform: rotateY(0deg);
  }

  30% {
    transform: rotateY(360deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.menu-button {
  display: none;
  z-index: 99;
  cursor: url('/assets/img/background/icons8-mauszeiger-pointer.png'), auto;
}

.dialog-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #141D2FCC;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.08s ease-out;

  img {
    position: absolute;
    top: 37px;
    left: 24px;
    height: 30px;
    animation: rotate360 10s linear infinite;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 29px;

    a {
      color: #FFFFFF;
      font-family: Poppins;
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      text-decoration: none;
      cursor: url('/assets/img/background/icons8-mauszeiger-pointer.png'), auto;
    }
  }
}

.show-menu {
  transform: translateX(0);
}

.hide-menu {
  transform: translateX(100%);
}

@media (min-width: 1920px) {
  main {
    padding: 37px 150px;
  }
}

@media (max-width:918px) {
  main {
    padding: 37px 50px;
  }
}

@media (max-width: 850px) {
  main {
    padding: 37px 24px;
  }

  .link-container {
    display: none;
  }

  .menu-button {
    display: block;
    height: 30px;
  }
}