<main>
    <section class="about">
        <h1>About me</h1>
        <span class="about-me">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod numquam voluptates quaerat, ex dignissimos sapiente quam minima cumque consequuntur? Voluptate illum sapiente eveniet nihil fugiat aliquam itaque et sequi atque.</span>
        <div>
            <img src="assets/img/bulb.png">
            <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem placeat vero inventore optio eos perferendis recusandae, facilis consequuntur ducimus earum ullam, quaerat sit deleniti fugit necessitatibus itaque natus aspernatur nulla?</span>
        </div>
        <div>
            <img src="assets/img/puzzle.png">
            <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam pariatur mollitia eaque, veritatis et repellat voluptate ex magni officia nostrum recusandae architecto provident dolorum asperiores perspiciatis necessitatibus nisi ab corporis.</span>
        </div>
    </section>
    <section>

    </section>
</main>