h1 {
    color: #FF4747;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%
}

h2 {
    color: #FA7902;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

span {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

img {
    height: 339px;
}

section {
    max-width: 513px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    div {
        display: flex;
        gap: 86px;
        padding-top: 20px;

        a {
            text-decoration: none;
            
            button {
                display: flex;
                padding: 15px 30px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 10px;
                color: #FFFFFF;
                font-family: Poppins;
                font-size: 23px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                cursor: url('/assets/img/background/icons8-mauszeiger-pointer.png'), auto;

                &:hover {
                    background-color: #FA7902;
                }
            }
        }
    }
}

.live-test {
    background-color: #FF4747;
    border: none;
}

.github {
    background-color: #141D2F;
    border: 1px solid #FA7902;
}

.reverse {
    align-items: end;
}

@media (max-width: 850px) {
    section {
        align-items: center;
    }

    .reverse {
        align-items: center;
    }

    img {
        max-width: -webkit-fill-available;
    }
}