<main>
    <section>
        <h1>Contact</h1>
        <h2>Got a problem to solve?</h2>
        <span>Contact me through this form, I am interested in hearing you,
            knowing your ideas and contributing to your projects with my
            work.</span>
        <span>Need a Frontend developer? <b>Contact me!</b></span>
    </section>
    <section>
        <form action="onsubmit">
            <div class="input-area">
                <input type="text" placeholder="Your name" required>
                <input type="email" placeholder="Your email" required>
                <textarea name id cols="30" rows="10"
                    placeholder="Your message" required></textarea>
            </div>
            <div class="confirm-area">
                <div>
                    <input type="checkbox" required>
                    <span>I've read the &nbsp;<a> Privacy policy </a>&nbsp; and
                        agree to the
                        processing of my data as outlined.</span>
                </div>
                <button>Send message :&#041;</button>
            </div>
        </form>
    </section>
</main>
