<main>
    <section class="about">
        <h1>About me</h1>
        <span class="about-me">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Quod numquam voluptates quaerat, ex dignissimos
            sapiente quam minima cumque consequuntur? Voluptate illum sapiente
            eveniet nihil fugiat aliquam itaque et sequi atque.</span>
        <table>
            <tr>
                <td class="vert-align-ttop">
                    <img src="assets/img/about_me/bulb.png" class="growImage">
                </td>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore eaque, pariatur enim quis est et repellendus dolores laborum reprehenderit obcaecati quo sit. Tempore nihil corrupti et blanditiis fuga voluptatibus aut.
                </td>
            </tr>
            <tr>
                <td class="vert-align-ttop">
                    <img src="assets/img/about_me/puzzle.png" class="growImage">
                </td>
                <td>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur cupiditate vero libero architecto odit laudantium aut deserunt veritatis, quidem numquam repellendus aliquid perspiciatis officiis culpa animi excepturi ea fugit! Blanditiis!
                </td>
            </tr>
        </table>
    </section>
    <section>
        <div class="round-image">
            <img src="assets/img/above_default/above-default.png">
        </div>
        <div class="line"></div>
    </section>
    <img src="assets/img/background/Purple shadow.png" class="background-vector">
</main>