main {
    position: relative;
    padding: 148px 100px 0 100px;
    background-color: #141D2F;
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

h1 {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

span {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

p {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.skill-icons {
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.icon-container {
    display: flex;
    gap: 123px;

    div {
        width: 88px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        gap: 10px;
        flex-shrink: 0;

        &:hover {
            display: inline-flex;
            height: 100px;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            gap: 21px;
            flex-shrink: 0;
        }

        img {
            height: 60px;
        }
    }
}

.skill-text {
    width: 471px;
    text-align: right;
    margin-top: 40px;
    position: relative;
}

button {
    position: absolute;
    top: 203px;
    left: 174px;
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 10px;
    background: #FA7902;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: url('/assets/img/background/icons8-mauszeiger-pointer.svg'), auto;
    transition: transform 300ms ease-out;

    span {
        color: #FFFFFF;
        font-family: Poppins;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        transition: transform 300ms ease-out;
        cursor: url('/assets/img/background/icons8-mauszeiger-pointer.svg'), auto;
    }

    &:hover {
        transform: scale(1.2);
        transform-origin: center center;
        background-color: #FF4747;

        span {
            transform: scale(0.833);
        }
    }
}

.line {
    width: 58px;
    height: 0px;
    flex-shrink: 0;
    border: 2px solid #FF4747;
    position: absolute;
    right: 0;
    top: 240px;
}