app-above-default {
    display: flex;
    height: 100vh;
    min-height: 1080px;
}

app-skills {
    position: relative;
}

app-portfolio {
    position: relative;
}

app-contact {
    position: relative;
}


